button{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 16px;   
}  
.center{
    display: flex;
  justify-content: center;
  align-items: center;
  padding-top:50px;  
}
h1{
    text-align: center;
}
#display{
    text-align: center;   
}